<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baronunname</key>
	<string>Mami</string>
	<key>Baronunurl</key>
	<string>cphub</string>
	<key>Baronunid</key>
	<string>11111111</string>
	<key>Baronunkey</key>
	<string>9986sdff5s4f1123</string>
	<key>Baronuniv</key>
	<string>9986sdff5s4y456a</string>
	<key>Baronunbg</key>
	<string>launch_bg</string>
	<key>Baronunlg</key>
	<string>launch_bg</string>
	<key>Baronundebug</key>
	<true/>
</dict>
</plist>
