<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Baronunname</key>
	<string>Mami</string>
	<key>Baronunurl</key>
	<string>sj7dbbqo</string>
	<key>Baronunid</key>
	<string>83941375</string>
	<key>Baronunkey</key>
	<string>vn3wd0itcjht2et8</string>
	<key>Baronuniv</key>
	<string>kmf9alb2e2htczqy</string>
	<key>Baronunbg</key>
	<string>launch_bg</string>
	<key>Baronunlg</key>
	<string>launch_bg</string>
	<key>Baronundebug</key>
	<false/>
</dict>
</plist>
