<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wdfjhas</key>
	<string>app_name</string>
	<key>qudfgx</key>
	<string>11111111</string>
	<key>pdjfne</key>
	<string>opi</string>
	<key>yzbjhd</key>
	<string>cphub</string>
	<key>xphfbg</key>
	<string>link</string>
	<key>mhdsfg</key>
	<string>9986sdff5s4f1123</string>
	<key>sanbdf</key>
	<string>9986sdff5s4y456a</string>
	<key>oqwjndf</key>
	<string>launch_bg</string>
	<key>zapgfg</key>
	<string>launch_bg</string>
	<key>nvhsdfh</key>
	<false/>
</dict>
</plist>
